#strongtitle {
  color: black;
  font-weight: bold;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 85%;
  background: #117341;
  border-top: solid 10px white;
}

.footer p {
  font-size: 16px;
  color: black;
 
  margin-top: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.no-label .control-label {
  display: none;
}

.trf-radio .form-control {
  width: 130px;
}

.organism-radio .form-control {
  width: 180px;
}

.intext-form .form-control {
  display: inline;
  margin: 0;
  padding: 0;
  width: 50px;
  text-align: center;
}

.regions {
  display: inline;
  margin-left: 15px;
}

.regions1 {
  display: inline;
  margin-left: 5px;
}

.logo-pic {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /* scrollbar */
  max-height: 250px !important;
  overflow: auto !important;
  /*position the autocomplete items to be the same width as the container:*/
  width:500px !important;


}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.navbar-nav > li > a{
        padding-top:0px ; 
        padding-bottom:0px ;
        height: 26px;
}
.navbar {min-height:26px ;}
	