{# Jinja web template engine which will be redered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{# Adding a lang="en" attribute to the <html>-tag #}
{% block html_attribs %}
  lang="en"
{% endblock %}

{% block content -%}

<script>
	let $a = document.querySelector('.menuItem.active')
	if($a){$a.classList.remove('active')}
	document.querySelector('#download').classList.add('active')
</script>
<!--<style type="text/css">-->
<!--a:link,a:visited{-->
<!-- text-decoration:none;  /*超链接无下划线*/-->
<!--}-->
<!--a:hover{-->
<!-- text-decoration:underline;  /*鼠标放上去有下划线*/-->
<!--}-->
<!--</style>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <br>
        <h3>&#8251; Download</h3><br>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4 offset-md-1">
       <a href="data/PTM experimental evidence.csv" title="Download PTM experimental evidence"><h3>1. PTM experimental evidence</h3></a><br>
    </div>
  </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><1>PTM types and sites <2>Interacting proteins <3>Detection methods</p><br></strong>
    </div>
   </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><4>Associated diseases <5>Co-localization <6>Literature(PMID)</p><br></strong>
    </div>
   </div>


<!--  <div class="row">-->
<!--    <div class="col-md-4 offset-md-1">-->
<!--       <a href="data/2jf1.pdb"><h3>Mutations affect PTM status</h3></a><br>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--     <div class="col-md-10 offset-md-1">-->
<!--        <p class="lead"><1>Cancer mutation <2>Disease mutation <3>Population mutation</p><br>-->
<!--    </div>-->
<!--   </div>-->


  <div class="row">
    <div class="col-md-4 offset-md-1">
       <a href="data/Protein structure information.zip" title="Download protein structure information"><h3>2. Protein structure information</h3></a><br>
    </div>
  </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><1>Complex structures <2>Complex InterfaceResidues <3>Complex interaction(HB, HP, ELE)</p><br></strong>
    </div>
   </div>


   <div class="row">
     <div class="col-md-6 offset-md-1">
       <font color="#FF0000"><h4>Note: PTMint is ONLY free for academic research!</h4></font>
	   <font color="#FF0000"><h4>For commercial usage, please <a href="/Contact">contact us</a>.</h4></font>
<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=52mhyd1of4h&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script>-->

    <br>
	<br>
	<br>






     </div>
   </div>








</div>






























  
{%- endblock content %}


