{# Jinja web template engine which will be redered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{# Adding a lang="en" attribute to the <html>-tag #}
{% block html_attribs %}
  lang="en"
{% endblock %}

{% block content -%}

<script>
	let $a = document.querySelector('.menuItem.active')
	if($a){$a.classList.remove('active')}
	document.querySelector('#download').classList.add('active')
</script>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <br>
        <h3>&#8251; Download</h3><br>
    </div>
  </div>



  <div class="row">
    <div class="col-md-4 offset-md-1">
       <a href="data/Complex1939.pdb" title="Download PTM experimental evidence" class="bbb"><h3>1. PTM experimental evidence</h3></a><br>
    </div>
  </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><1>PTM types <2>PTM sites <3>Sequence window (around the PTM site) <4>Interacting proteins </p><br></strong>
    </div>
   </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><5>Detection methods <6>Associated diseases <7>Co-localization <8>Supporting literature (PMID)</p><br></strong>
    </div>
   </div>




  <div class="row">
    <div class="col-md-4 offset-md-1">
       <a href="data/Complex1939.pdb" title="Download protein structure information" class="bbb"><h3>2. Protein structure information</h3></a><br>
    </div>
  </div>

  <div class="row">
     <div class="col-md-10 offset-md-1">
        <p class="lead"><strong><1>Complex structures <2>Complex InterfaceResidues <3>Complex interaction (HB, HP, ELE)</p><br></strong>
    </div>
   </div>


   <div class="row">
     <div class="col-md-6 offset-md-1">
       <font color="#FF0000"><h4>Note: PTMint is ONLY free for academic research!</h4></font>
	   <font color="#FF0000"><h4>For commercial usage, please <a href="/Contact" target="_blank" class="bbb">contact us</a>.</h4></font>
<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=52mhyd1of4h&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script>-->

    <br>
	<br>
	<br>






     </div>
   </div>








</div>






























  
{%- endblock content %}


