{# Jinja web template engine which will be redered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{% block content -%}

<style type="text/css">
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}
a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
<script>
	let $a = document.querySelector('.menuItem.active')
	if($a){$a.classList.remove('active')}
	document.querySelector('#help').classList.add('active')
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>


<div class="container-fluid">
        <div class="row">
           <div class="col-md-6 offset-md-1">
            <br>
             <h3>&#8251; Help</h3>
            </div>
      </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <img src="{{ url_for('static', filename='img/Help6.png') }}" class="img-fluid mx-auto d-block" alt="stats figure"/>
        </div>
    </div>
</div>























     

  
{%- endblock content %}
