{# Jinja web template engine which will be redered by Flask #}
{# Template Inheritance #}
{% extends "mybase.html" %}

{# Adding a lang="en" attribute to the <html>-tag #}
{% block html_attribs %}
  lang="en"
{% endblock %}

{% block content -%}

<script type="text/jscript">
function compute1(){
document.getElementById("keyword2").value="CTDP1";
}
</script>

<script type="text/jscript">
function compute2(){
document.getElementById("keyword2").value="";
}
</script>

<script>
	let $a = document.querySelector('.menuItem.active')
	if($a){$a.classList.remove('active')}
	document.querySelector('#search').classList.add('active')
</script>


<div class="container-fluid">
 <form class="form form-horizontal" method="POST" action="/Search" role="form">


        <div class="row">
          <div class="col-md-6 offset-md-1">
            <br>
            <h3><label for="search_type">&#8251; Advanced Search</label></h3><br>
          </div>
        </div>






<!--        <div class="row">-->
<!--          <div class="col-md-4 offset-md-1">-->
<!--            <input checked id="search_type-0" name="search_type" type="radio" value="uniprot" > <label for="search_type-0"><h5>Uniprot</h5></label>-->
<!--          </div>-->
<!--        </div>-->

<!--     <div class="row">-->
<!--        <div class="col-md-4 offset-md-1 no-label">-->
<!--          <div class="form-group "><label class="control-label" for="uniprot">Uniprot</label>-->
<!--          <input class="form-control autocomplete" id="uniprot" name="uniprot" type="text" value="" placeholder="Uniprot">-->
<!--           <br>-->
<!--        </div>-->
<!--     </div>-->
<!--   </div>-->

<!--<div class="row">-->
<!--<div class="col-md-6 offset-md-1">-->
<!--<br>-->
<!--</div>-->
<!--</div>-->

<!--        <div class="row">-->
<!--          <div class="col-md-4 offset-md-1">-->
<!--              <input id="search_type-1" name="search_type" type="radio" value="gene" > <label for="search_type-1" ><h5>Gene</h5></label>-->
<!--          </div>-->

<!--            <div class="col-md-3">-->
<!--                <label for="search_organism"><h5>Organism</h5></label>-->
<!--            </div>-->

<!--        </div>-->


<!--     <div class="row">-->
<!--        <div class="col-md-4 offset-md-1 no-label">-->
<!--          <div class="form-group "><label class="control-label" for="gene">Gene</label>-->
<!--          <input class="form-control autocomplete" id="gene" name="gene" type="text" value="" placeholder="Gene" disabled="disabled">-->
<!--           <br>-->
<!--         </div>-->
<!--        </div>-->

<!--         <div class="col-md-3 no-label organism-radio">-->
<!--           <div class="form-group"><label class="control-label" for="search_organism">Organism</label>-->
<!--             <select class="form-control" id="search_organism" name="search_organism" disabled="disabled"><option selected value="Human">Human</option></select>-->
<!--           </div>-->
<!--         </div>-->
<!--   </div>-->
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <h4>Gene/Uniprot</h4>
          </div>
        </div>

      <div class="row">
        <div class="col-md-4 offset-md-1 no-label">
            <input class="form-control autocomplete" id="keyword2" name="keyword2" type="text"  placeholder="Gene or Uniprot">
        </div>
      </div>

        <div class="row">
        <div class="col-md-5 offset-md-1 no-label">
            <br>
        </div>
      </div>


     <div class="row">
          <div class="col-md-4 offset-md-1">
            <h4>Organism</h4>
          </div>
     </div>



    <div class="row">
        <div class="col-md-4 offset-md-1">
           <select class="form-control" id="search_organism" name="search_organism"><option selected value="Human">Human</option></select>
	   </div>
    </div>


        <div class="row">
        <div class="col-md-5 offset-md-1 no-label">
            <br>
        </div>
      </div>



        <div class="row">
          <div class="col-md-4 offset-md-1">
            <h4>PTM type</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 offset-md-1">
            <input checked class="regions" id="Phos" name="Phos" type="checkbox" value="y" style="margin-left:0px;width: 20px; height: 20px"> <label for="Phos" style="font-size:1.3rem">Phos</label>
            <input checked class="regions" id="Ac" name="Ac" type="checkbox" value="y" style="width: 20px; height: 20px"> <label for="Ac" style="font-size:1.3rem">Ac</label>
            <input checked class="regions" id="Me" name="Me" type="checkbox" value="y" style="width: 20px; height: 20px"> <label for="Me" style="font-size:1.3rem">Me</label>
            <input checked class="regions" id="Sumo" name="Sumo" type="checkbox" value="y" style="width: 20px; height: 20px"> <label for="Sumo" style="font-size:1.3rem">Sumo</label>
            <input checked class="regions" id="Ub" name="Ub" type="checkbox" value="y" style="width: 20px; height: 20px"> <label for="Ub" style="font-size:1.3rem">Ub</label>
            <input checked class="regions" id="Glyco" name="Glyco" type="checkbox" value="y" style="width: 20px; height: 20px"> <label for="Glyco" style="font-size:1.3rem">Glyco</label></p>
          </div>
        </div>












<div class="row">
    <div class="col-md-1 offset-md-1">
        <input class="btn btn-success" id="example1" name="example1" type="button" value="Example" onClick="compute1()"  style="background-color:#117341;border-color:#117341">
    </div>
    <div class="col-md-1">
        <input class="btn btn-success" id="example2" name="example2" type="button" value="Clear" onClick="compute2()"  style="background-color:#117341;border-color:#117341">
    </div>
     <div class="col-md-1">
         <input class="btn btn-success" id="submit" name="submit" type="submit" value="Search" style="background-color:#F39925;border-color:#F39925">
      </div>
</div>


      <div class="row">
          <div class="col-md-6 offset-md-1">
		  <br>
              <font color="red"><h3>{{X10}}</h3></font>
          </div>
      </div>




<div class="row">
<div class="col-md-6 offset-md-1">
<br>

<br>
    <br>
    <br>
	    <br>












</div>
</div>



</form>
</div>



  
{%- endblock content %}


